@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-display: 'Garamond', 'Inter', 'sans-serif';
}

table tbody :not(tr:only-child) { /* The override. */
    --no-data-row: none;
}

table tbody tr:only-child { /* The override. */
    --no-data-row: table-row;
}

.no-data-row {
    display: var(--no-data-row);
}
